electronics-shop {
    display: grid;
    background: #646464;
    grid-template-rows: 20vh 78vh;
    width: 98%;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
@media (min-width: 1920px) {
    electronics-shop {
        width: 90%;
        grid-template-rows: 20vh 75vh;
    }
}
electronics-shop * {
    box-sizing: border-box;
}

document-information {
    position: relative;
    width: 60%;
    margin: 10px 0;
}
document-information,
document-information > * {
    padding: 0 10px;
}
document-information author {
    display: inline-block;
    margin-top: 30px;
}
@media (min-width: 1920px) {
    document-information {
        width: 40%;
        margin: 20px 0;
    }

    document-information author {
        margin-top: 50px;
    }
}
document-information description {
    display: block;
    margin-top: 20px;
    font-size: 0.85rem;
}

document-information student-id {
    font-weight: bold;
}

data {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 7fr;
    gap: 20px;
}
@media (min-width: 1920px) {
    data {
        grid-template-columns: 1fr 5fr;
        gap: 40px;
    }
}

categories {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

categories > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
    padding: 10px;
}

manufacturers {
    flex: 1.4;
    margin-bottom: 10px;
}

@media (min-width: 1920px) {
    manufacturers {
        margin-bottom: 40px;
    }
}

manufacturers,
product-types {
    position: relative;
    font-size: 0.85rem;
}

manufacturer,
product-type {
    display: block;
    padding: 2px;
    transition: all 0.1s ease-in-out;
}

manufacturer > * {
    display: block;
}

manufacturer manufacturer-name {
    font-size: 1.1rem;
    font-weight: 500;
}

manufacturer manufacturer-name::before {
    content: "â— ";
}

@media (min-width: 1920px) {
    font-size: 1.3rem;
    font-weight: 600;
}

manufacturer headquarters::before {
    content: "Headquarters: ";
    font-weight: 500;
}

manufacturer factory {
    display: none;
}

manufacturer location::after {
    content: ", ";
}

product-types {
    counter-reset: product-types;
}

product-type {
    font-size: 1.1rem;
}

product-type::before {
    counter-increment: product-types;
    content: counter(product-types) ". ";
}

product-type:hover,
manufacturer:hover {
    text-shadow: 0 3px 10px #bdbdbd;
    transform: scale(1.05) translateX(8px);
}

product-types > :first-child,
manufacturers > :first-child {
    margin-top: 20px;
}

@media (min-width: 1920px) {
    manufacturers > :first-child,
    product-types > :first-child {
        margin-top: 40px;
    }
}

products-list {
    display: block;
    position: relative;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
}

product {
    display: grid;
    height: 55px;
    grid-template-columns: 3fr 1.3fr 2fr 1.3fr 4.5fr 1.3fr 1.3fr 2fr 3.5fr;
    margin: 4px 0;
}

product:nth-child(even) {
    background: #e6e6e6;
}

product > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 1px 2px 2px #b5b5b5 inset;
    padding: 5px;
}

product:first-of-type {
    margin-top: 50px;
}

/* Headers */

product:first-of-type > ::before {
    position: absolute;
    top: 44px;
    font-weight: 500;
    font-size: 0.8rem;
    justify-self: center;
}

product:first-of-type name::before {
    content: "Name";
}
product:first-of-type price::before {
    content: "Price";
}
product:first-of-type release-date::before {
    content: "Release date";
}
product:first-of-type warranty::before {
    content: "Warranty";
}
product:first-of-type specification::before {
    content: "Specification";
}
product:first-of-type user-rating::before {
    content: "User rating";
}
product:first-of-type in-stock::before {
    content: "In stock";
}
product:first-of-type free-delivery::before {
    content: "Free delivery";
}
product:first-of-type additional-information::before {
    content: "Additional information";
}

product:hover {
    box-shadow: 0 0 8px #969696 inset;
}

/* Product elements */

product price::after {
    content: attr(currency);
    position: relative;
    left: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
}

product release-date day::after,
product release-date month::after {
    content: ".";
}

product warranty::after {
    content: attr(time-unit);
    position: relative;
    left: 2px;
}

product specification {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

product specification > *::before {
    display: block;
}

product specification,
product additional-information {
    font-size: 0.9em;
}

product specification weight::before {
    content: "Weight: ";
}

product specification weight::after {
    content: attr(weight-unit);
}

product specification display-size::before {
    content: "Display size: ";
}

product specification display-size::after {
    content: attr(display_size-unit);
    position: relative;
    left: 2px;
}

product specification color::before {
    content: "Color: ";
}

product specification color::after {
    content: attr(weight-unit);
}

product specification switch::before {
    content: "Switch: ";
}

product specification sensor::before {
    content: "Sensor: ";
}

product free-delivery::after {
    content: attr(available);
    text-transform: capitalize;
}

product free-delivery[available="available"] {
    background-color: rgba(101, 255, 101, 0.4);
}

product free-delivery[available="non-available"] {
    background-color: rgba(255, 101, 101, 0.4);
}

/* Modifiers */
document-information::before,
manufacturers::before,
product-types::before,
products-list::before {
    position: absolute;
    top: 0;
    left: 2px;
    font-weight: 400;
    font-size: 1.6rem;
    align-self: flex-start;
}

document-information::before {
    content: "Document information";
}
manufacturers::before {
    content: "Manufacturers";
}
product-types::before {
    content: "Product types";
}
products-list::before {
    content: "Products list";
}

@media (min-width: 1920px) {
    document-information::before,
    manufacturers::before,
    product-types::before,
    products-list::before {
        font-size: 2.1rem;
        font-weight: 200;
    }
}

document-information,
manufacturers,
product-types,
products-list {
    background: #f3f3f3;
    box-shadow: 0 6px 15px #373737;
    border-radius: 2px;
}
